@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

        body{
            background-color: #25A55F;
            padding-top: 70px;
            overflow-x: hidden;
            
        }
        body::-webkit-scrollbar {
            display: none;
        }
        .nav-fixed{
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            z-index: 1030;
            background-color: rgba(37, 165, 95, 0.8) !important;
        }
        .float-start{
            width: 50px;
        }
        .navbar-brand{
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 22px;
            font-family: 'Inter';
            transition: 3ms;
        }
        .navbar-brand:hover{
            color:#346473;
        }
        .active{
            color: white !important;
            font-size: 20px;
            font-family: 'Inter';
            transition: 3ms;

        }
        .active:hover{
            color:#346473 !important;
        }
        .btn-success{
            font-size: 18px;
            font-family: 'Inter';
            background-color: #346473;
            border-radius: 50px;


            padding-left: 30px;
            padding-right: 30px;
            margin-right: 40px;

        }
        .btn-success:hover{
            border: 1px solid rgba(52, 100, 115, 0);

        }
        .bg-image{
            background-image: url(bg-cvsu.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center; 
            width: 1957px;
            height: 956px;
            
            flex-shrink: 0;
        }
        .content-title{
            margin-top: 50px;
            margin-left: 139px;
        }
        .h1{
            color: white;
            font-family: 'Passion One';
            margin-inline-end: 1000px;
            font-size: 76px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        
        .btn-join{
            margin-top: 100px;
            padding-left: 50px;
            padding-right: 50px;
            font-size: 24px;
            font-family: 'Inter';

        }
        .bg-color{
            background: rgb(37,165,95);
            background: linear-gradient(180deg, rgba(37,165,95,1) 0%, rgba(255,255,255,1) 100%);
        }
        .content-benefits{
            text-align: center;
            color: white;
            

        }
        .benefits{
            margin-top: 150px;
            margin-bottom: 100px;
            font-size: 50px;
            
        }
        .content-three-title{
            text-align: center;
            font-size: 20px;
            font-family: 'Inter';

        }
        .card{
            margin-top: 20px;
            width: 300px;
            height: 360px;
            border-radius: 15px;
            box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.25);
        }
        .card-size{
            padding: 30px;
        }
        .requirements{
            background-color: white;
        }
        .content-req{
            text-align: center;
            margin-top: 200px;
            color: #346473;
            margin-bottom: 100px;
            

        }
        .card-req{
            text-align: left;
            font-family: 'Inter';
            margin-left: 200px;
            width: 600px;
            height: 386px;
            color: #346473;
            border-radius: 15px;

            box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.25);
        }
        .txt-align{
            margin-left: 20px;
        }
        .content-goals{
            background-color: #FFF;
        }
        .goals{
            margin-top: 200px;
            margin-bottom: 200px;
        }
        .card-mission{
            border-radius: 10px; 
            border: 4px solid rgba(52, 100, 115, 0.50); 
            width: 350px; 
            height: 550px;

            border-radius: 15px;
            box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.25);
            
        }
        .content-mission{
            margin-top: 50px;
        }
        .card-mission:hover{
            background-color: rgba(52, 100, 115, 0.10);
        }
        .mission{
            color: #346473;
            text-align: center;
            font-family: 'Inter';
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .h6{
            color: #26302E;
            text-align: center;
            font-size: 20px;
            font-style:normal;
            font-weight: 400;
            line-height: normal;
            margin-inline-start: 30px;
            margin-inline-end: 20px;
        }
        .line-our-mission{
            background: rgba(37, 165, 95, 0.50); 
            width: 260px; 
            height:2px; 
            margin-left: 20px; 
            margin-bottom: 150px;
        }
        .view-btn{
            color:#FFF;

            border-radius: 5px;
            background: #346473;
            box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.25);
            border: none;

            font-size: 24px;
            font-family: 'Inter';
            display: inline-flex;
            padding: 0px 48px;
            justify-content: center;
            align-items: center;
            transition: 3ms;
        }
        .view-btn:hover{
            background-color:#346473;
            opacity: 80%;
        }
        .about-us{
            background-color: white;
        }
        .content-about-us{
            
            margin-top: 150px;
            margin-bottom: 150px;
        }
        .h-about{
            color: #346473;
            font-weight: bolder;
            font-size: 48px;
            font-family: 'Inter';


        }
        .about-description{
            font-size: 24px;
            font-family: 'Inter';

        }
        .learn-btn{
            width: 180px;
            padding: 10px 30px;
            font-size: 20px;

        }
        .about-image{
            width: 924px; height: 520px;
        }
        .faq{
            background-color: white;
            
        }
        .content-faq{
            margin-top: 150px;
            margin-bottom: 150px;
            color: #346473;
            font-family: 'Inter';

        }
        .faq-h{
            text-align: center;
            margin-bottom: 100px;
        }
        .h2{
            font-weight: bolder;
            font-size: 64px;
            font-family: 'Inter';

        }
        .faq-dropdown{
            margin: 3rem;
            max-width:1250px; 
            border-bottom: 2px solid #346473;
            cursor: pointer;
        }
        .question-faq{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .answer-faq{
            max-height: 0;
            overflow: hidden;
            transition: max-height 1.4s;
        }
        .answer-faq p{
            padding-top: 1rem;
            line-height: 1.6;
            font-size: 1.4rem ;

            
        }

        .faq-dropdown.focus .answer-faq{
            max-height: 300px;
        }
        .faq-dropdown.focus .drowpdown-icon{

            transform: rotate(180deg);
        }
        .drowpdown-icon{
            width: 35px; 
            display: flex;
            margin-left: auto;
            transition: transform 0.5s ease-in;
        }

        .contact{
            background-color: #346473;
        }
        a{
            text-decoration: none;
            color: #FFF;
        }
        .contact-us{
            margin-top: 24px;
            background-color: #26302E;
            height: 303px;
            font-family: 'Inter';
            color: white;
        }
        .contact-h{
            margin-top: 30px;
            color: #FFFDFD;
            font-family: 'Inter';
            font-size: 40px;
            font-style: normal;
            font-weight: bolder;
            line-height: normal;
        }

        .popup .overlay{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1035;
            background-color: rgba(38, 48, 46, 1);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 70%;
            pointer-events: none;
            transition: opacity 0.3s ease;
            display: none;
        }
        .popup .content-pop{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) scale(0);
            background: #FFF;
            width: 1157px;
            height: 652px;
            z-index: 1040;
            text-align: center;
            padding: 20px;
            box-sizing: border-box;
            color: #346473;
            
        }
        .popup .close-btn{
            position: fixed;
            top: 20px;
            right: 20px;
            width: 30px;
            height: 30px;
            color:#346473;
            font-size: 25px;
            font-weight: 900;
            line-height: 30px;

        }
        .popup.focus .overlay{
            display: block;
        }

        .popup.focus .content-pop{
            transition: all 400ms ease-in-out;
            transform: translate(-50%,-50%) scale(1);

        }
        @media screen and (max-width:860px){
            .h1{
            font-size: 36px;
            }
        }
        @media screen and (max-width:1360px){
            .nav-link{
            font-size: 16px;
            }
            .btn-success{
                font-size: 16px;
                margin-right: 10px;
            }
        }
        @media screen and (max-width:1440px){
            .btn-success{
                font-size: 16px;
                margin-right: 5px;
            }
            .about-image{
                margin-left: 200px;
            }
        }
        @media screen and (max-width:1600px){
            .h1{
                margin-top: 100px;
                font-size: 56px;
                margin-inline-end: 500px;
            }
            .card-req{
                margin-left: 150px;
                width: 500px;
                height: 350px;
            }
            .card-mission{
                width: 300px; 
                height: 500px;
            }
            .content-mission{
                margin-top: 20px;
            }
            .h6{
                font-size: 15px;
            }
            .line-our-mission{
                width: 200px;
            }
            .h-about{
            font-size: 48px;

            }
            .about-description{
                font-size: 20px;
            }
            .about-image{
                width: 724px; height: 420px;
            }
            .btn-success{
                font-size: 18px;
                margin-right: 20px;
            }
            
        }